.onerecipe{
    display: flex;
    height: 20%;
    width: 20%;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 10vh;
    margin-bottom: 1vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.firstDiv{
    display: flex;
    flex-direction: column;
    height: 10%;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.secondh2{
    color: #EA899A;
}

.thirdh2{
    color: #7a2636;
    display: flex;
    margin: 0.5vh;
    padding: 0;
}

.image1{
    border-radius: 4vh;
    height: 30vh;
    width: auto;
}
